@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: white;
  border-style: none;
}

body {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
  gap: 50px;
}

/* Search bar */
#group-search {
  display: flex;
  align-items: center;
}
#input-search {
  height: 50px;
  width: 250px;
  background-color: transparent;
  font-size: 1.75rem;
  text-align: center;
  border-bottom: 2px solid white;
}

#input-search::placeholder {
  opacity: 1;
}

.fa-solid,
#icon-weather-condition {
  font-size: 1.75rem;
}

.fa-solid:hover {
  transform: scale(1.25);
}

/* Location, temperature group */
#weather-condition {
  font-size: 1.75rem;
}

#group-info > *,
#other-infos > * {
  display: block;
  font-size: 1.5rem;
  margin-top: 5px;
  text-align: center;
}

#location-info {
  font-size: 3rem;
}

#group-temperature,
#group-weather-condition {
  display: flex;
  justify-content: center;
}
#group-weather-condition {
  align-items: center;
}
#temperature-info {
  font-size: 8rem;
}
#temperature-symbol {
  margin-top: 20px;
  font-size: 2.5rem;
}
