@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  color: white;
  border-style: none;
}

body {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 100px;
}

/* Search bar */
#group-search {
  display: flex;
  align-items: center;
}
#input-search {
  height: 50px;
  width: 250px;
  background-color: transparent;
  font-size: 1.75rem;
  text-align: center;
  border-bottom: 2px solid white;
}
#input-search::placeholder {
  opacity: 1;
}
.fa-solid {
  font-size: 1.75rem;
  cursor: pointer;
}
.fa-solid:hover {
  transform: scale(1.25);
}
/*  */

/* Location, temperature group */
#weather-condition {
  font-size: 1.75rem;
}
#group-info > * {
  display: block;
}
#location-info {
  font-size: 2.75rem;
  font-weight: 600;
}
#temperature-info {
  text-align: center;
  font-size: 10rem;
}
#temperature-symbol {
  position: absolute;
  margin: 25px 0 0 260px;
  font-size: 2.5rem;
}
#temperature-info,
#temperature-symbol {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}
