@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  color: white;
  border-style: none;
}

body {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
}

#main-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 100px;
}

/* Search bar */
#group-search {
  display: flex;
  align-items: center;
}
#input-search {
  height: 50px;
  width: 250px;
  background-color: transparent;
  font-size: 1.75rem;
  text-align: center;
  border-bottom: 2px solid white;
}
#input-search::placeholder {
  opacity: 1;
}
.fa-solid {
  font-size: 1.75rem;
  cursor: pointer;
}
.fa-solid:hover {
  transform: scale(1.25);
}
/*  */
